.section-heading {
	color: var(--Base);
	font-size: 4em;
	border-top: 3px solid #ff0000;
	border-bottom: 3px solid #ff0000;
	width: fit-content;
	margin: auto;
	margin-bottom: 0.2em;
}

.about-section {
	margin: auto;
}

.group h2{
	color: var(--Base);
	text-decoration: underline;
	text-decoration-color: var(--Accent);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.2em;
}

.row {
	display: flex;
	justify-content: center;
	gap: 2vw;
	padding: 2em;
}

.row div {
	background-color: var(--Base);
	border-radius: 3em 3em 2em 2em;
	flex-direction: column;
}

.row div h3 {
	background-color: black;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 0 0 3em 3em;
	text-align: center;
}

.row div img {
	padding: 1em;
}
