.section-heading {
	color: var(--Base);
	font-size: 4em;
	border-top: 3px solid #ff0000;
	border-bottom: 3px solid #ff0000;
	width: fit-content;
	margin: auto;
	margin-bottom: 0.2em;
}

.about-section {
	margin: auto;
}

.group h2{
	color: var(--Base);
	text-decoration: underline;
	text-decoration-color: var(--Accent);
	text-decoration-thickness: 2px;
	text-underline-offset: 0.2em;
}

.row {
	display: flex;
	justify-content: center;
	gap: 2vw;
	padding: 2em;
}

.row div {
	display: flex;
	background-color: var(--Base);
	flex-direction: column;
	aspect-ratio: 3 / 4;
	width: 18vw;
	border-radius: 20px;
}

.row div span {
	width: 100%;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 0 20px 20px;
	background-color: #000;
}

.row div h3 {
	font-family: "BerlinBold";
	font-size: x-large;
	text-align: center;
	padding: 0 5px;
}

.row div img {
	padding: 1em;
	width: 100%;
	height: auto;
	border-radius: 20px;
}
