* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BerlinBold';
}

@font-face {
  font-family: "Mechanismo";
  src: url("./MechanismoRegular-p7ywa.otf") format("opentype");
}

@font-face {
  font-family: "BerlinBold";
  src: url("./BerlinBold.ttf") format("truetype");
}

:root {
  --Base: #0F2842;
  --White: #FFFFFF;
  --OffWhite: #ececec;
  --Accent: #FCD44C;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--White);
}

body {
  background-color: var(--OffWhite);
  color: var(--White);
  letter-spacing: 1.5px;
}

#encrypt {
  display: flex;
  align-items: center;
  gap: 2ex;
}

#logo {
  border-radius: 40%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(132, 132, 132, 0.498);
  margin-left: 0.5em;
}

/*Header Start*/

header {
  padding: 1em;
  padding-bottom: 1.2em;
  background-color: var(--Base);
  align-items: center;
  display: flex;
  border-radius: 0 0 1em 1em;
  position: absolute;
  width: 100vw;
  gap: 3ex;
}

header a h2 {
  font-family:'Mechanismo';
  font-size: xx-large;
}

header ul.nav {
  margin-left: auto;
  margin-right: 0.5em;
  align-content: center;
  display: flex;
  gap: 3ex;
  font-size: large;
}

header ul.nav a:hover {
  color: var(--Accent);
}

span {
  font-family: 'Mechanismo';
}

/*Header End*/
/*Banner Start*/

section.hero {
  background-color: #091929;
  background-image: url('../Images/WebHero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

section.hero h1 {
  color: var(--Accent);
  font-size: 2em;
  margin-bottom: 0.5em;
}

section.hero p {
  font-size: 1.2em;
  width: 75%;
}

/*Banner End*/

.videolist {
  text-align: center;
  width: 100%;
}

.videolist div {
  padding: 3em;
}

.videolist iframe.video {
  border-radius: 2.5em;
  width: 100%;
  margin: 1em 0;
  box-shadow: 0.1em 0.1em 1em 0.05em #0000006f;
}
