body {
  background-color: #0F2842;
}
h1 {
  font-family: 'Mechanismo';
  font-size: 48px;
  font-weight: 300;
  color: #FFFFFF;
}
h2 {
  
}
h3 {
  
}
h4 {
  
}
p {
  color: #FFFFFF;
}

@font-face {
    font-family: "Mechanismo";
    src: url("https://sryan2005.github.io/EncryptWeb/MechanismoRegular-p7ywa.otf") format("opentype");
}
